{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="container">
        <h1 style="margin-top: 60px; margin-bottom: 60px">Posts</h1>
        <div class="row row-cols-1 row-cols-md-3 g-4" style="margin-bottom: 60px">

            {% for obj in posts %}
                <div class="col">
                    <div class="card">
                        <img src="{{ obj.image.url }}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{ obj.title }}</h5>
                            <p class="card-text">{{ obj.description }}</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">{{ obj.author }}</small>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}